.users {
  padding: 30px 0;
}
.user_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_info {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.user_info h1 {
  padding: 15px 0;
  text-align: center;
}
.user_info h3,
p {
  padding: 10px 0;
}
